.tab-display {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    gap: 10px;
}

.operations-tab {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--secondary-background-color);

    h3 {
        margin: 5px auto;
        justify-self: center;
    }
}

.items-tab {
    display: flex;
    flex-direction: column;
    min-height: 0;

    .flex-row {
        display: flex;
        gap: 5px;
        margin-bottom: 5px;
    }
}

.order-row {
    margin-left: auto;
}

.separator-line {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.35);
}

.search-bar {
    flex-grow: 1;
    border-radius: 100px;
    padding: 5px 10px;

    border: 2px solid #2424249c;
}

.search-bar-wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: center;

    i {
        color: #2e2e2e;
        position: absolute;
        right: 10px;
    }
}

.item-list {
    overflow-y: auto;
    padding-right: 5px;

    h2 {
        cursor: pointer;
        width: fit-content;
    }

    .category-items {
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        gap: 5px 20px;

        span {
            border-bottom: rgba(0, 0, 0, 0.35) solid 1px;
        }
    }

    .item-operations {
        display: flex;
        align-items: center;
        gap: 5px;

        input {width: 100px;}
    }
}
