.tab-display {
    display: flex;
    flex-direction: row;
    min-height: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.item-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.item-list-display {
    overflow-y: auto;
}

.item-operation {
    display: flex;
    gap: 5px;
    input {
        width: 75px;
    }
}

.item-operations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;

    background-color: rgb(158, 158, 158);
    align-items: center;
    padding: 10px;

    .apply-all {
        margin-top: auto;
    }
}

.operations {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}